.title {
    margin-top: 15px;
    text-align: left;
    font-size: 1.4em;
}

.badgeContainer {
    justify-content: center;
}

.badge {
    width: 2.2em;
    height: 2em;
    color: white;
}

.bulbIcon {
    height: 1.5em;
    width: 1.5em;
}

.toggle {
    float: right;
}

.card {
    padding: 0.3em;
}