.container {
    padding: 10px;
    padding-top: 0;
}

.title {
    margin: 1em 0em 1em 0em;
    text-align: center;
}

.white--text {
    color: white;
}

.text-center {
    text-align: center !important;
}

.no-padding {
    padding: 0;
}

.float-right {
    float: right;
}

.pt-1 {
    padding-top: 1em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pr-1 {
    padding-right: 1em;
}

.py-2 {
    padding: 0 2em 0 2em;
}